
$primary: #C1DCDC;
$normal-text: #000000;
$secondary-text-1: #1E1E1E80;
$secondary-text-2: rgba(30, 30, 30, 0.5);;

ul {
  margin: 0;
}

li {
  list-style: none;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
}

img {
  width: 100%;
  height: auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 2.75rem 6rem 2rem 6rem;
  color: $secondary-text-2;
  
  .active {
    color: $normal-text;
  }
}

.nav-menu-main {
  display: flex;
  align-items: center;
  padding: 0;
  flex: 1;
  li {
    margin-left: 3rem;
  }

  .logo {
    display: flex;
    width: 142px;
    height: 39px;
    margin-right: 3rem;
    background-image: url(../../dist/images/icon/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.nav-option {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: flex-end;
  
  li {
    margin-right: 3.25rem;
    color: $secondary-text-1;
    &:last-child {
      margin-right: 0;
      margin-left: 3.25rem;
    }
  }
  .icon--member {
    &::after {
      content: '';
      position: absolute;
      display: block;
      height: 24px;
      width: 1px;
      background-color: $normal-text;
      margin-left: 4.75rem;
    }
  }

}


.header-main {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 512px;
  margin: 0 6rem;
  background: $primary;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  

  // header-main__info
  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  // header-main__img
  &__img {
    display: flex;
    flex: 1;
    position: relative;
    background-image: url(../../dist/images/img/header_bg.png);
    background-repeat: no-repeat;
    background-position: right 30% bottom;

    .main-visual, .header_bg1, .header_bg2 {
      position: absolute;
    }

    .main-visual {
      display: flex;
      align-items: flex-end;
      bottom: 0;
      right: 56px;
    }

    .header_bg1 {
      bottom: 56px;
      left: 0;
    }

    .header_bg2 {
      right: 26px;
      top: 13px;
    }

  }

  // .header-main__h1 
  &__h1 {
    margin: 3rem 3rem 1.5rem 3rem;
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Poppins';
  }

  // header-main__txt
  &__txt {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 2rem;
    margin: 0 3rem;
    p {
      font-size: 1.125rem;
      margin: .5rem 0;
    }

    span {
      position: relative;
      display: flex;
      align-items: baseline;
      flex-direction: column;
      justify-content: center;
    }

    span + span {
      margin-left: 6rem;
      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 4rem;
        width: 1px;
        background-color: $normal-text;
        margin-left: -3rem;
      }
    }
  }

  // header-main__search
  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    margin: 3rem;
    background-color: #FFFFFF;
    border-radius: .75rem;
    position: relative;
    
    input {
      width: 100%;
      padding: 1.125rem;
      color: $secondary-text-2;
      font-size: 1.125rem;
      border-radius: .75rem;
      border: 0;
      -webkit-border-radius: .75rem;
      -moz-border-radius: .75rem;
      -ms-border-radius: .75rem;
      -o-border-radius: .75rem;
    }

    .search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 3rem;
      height: 3rem;
      margin-right: .5rem;
      background-color: $primary;
      border-radius: .75rem;
      -webkit-border-radius: .75rem;
      -moz-border-radius: .75rem;
      -ms-border-radius: .75rem;
      -o-border-radius: .75rem;
}
  }
}

